span.email b {
    display: none;
}

::target-text {
    background-color: plum;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #0f1318;
    color: cornsilk;

}

img {
    max-width: 100%;
}

pre {
    overflow: auto;
}

s {
    color: red;
}

section hr {
    color: #0f1318;
    width: 100%;
}

.box {
    background-color: #0f1318;
    padding: 1em;
    /* padding-top: .5em; */
    border-radius: 1em;
    margin-bottom: 1em;
    color: cornsilk;
}

footer {
    margin: 1em auto;
}

.center {
    display: block;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, section, footer {
    max-width: 60em; /* Widened the width because someone told me the style was "smartphone first" */
    margin: 0 auto;
    padding: 1rem;
}

main {
    background-color: rgb(80, 150, 207);
    color: #0f1318;
}