/*
    For accessablility reasons the first link should skips the menu and links the the main content
    Hides the link until it is focused usually by tab
    Ex: 
    <a id="skip" href="#maincontent">Skip to main content</a>
    <header> Skipped </header>
    <main id="maincontent> Content </main>
*/

#skip {
    z-index: 499;
    background-color: var(--secondary);
    height: 30px;
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

#skip:focus {
    transform: translateY(0%);
}

/* 
    Highlights imgs that don't have alt tags
    This is important for people who use screen readers
*/
img:not([alt]) {
    border: 1rem solid red;
}

span.email b {
    display: none;
}